<style>
  @media screen and (max-width: 767px) {
    img { margin: 0 auto;display: block; }
  }

  @media screen and (max-width: 575px) {
   img { margin: 0 auto;display: block; }
  }
</style>
<div class="p-2 bg-primary text-white text-center">
   <h1>Marcas de Cerveza</h1>
</div>
<div class="container mt-4">
   <div class="row">
      <div class="col-sm-2">
         <img width="150" alt="foto de cerveza Estrella del Camino. Estrella Galicia" src="../assets/img/estrella.png" class="img-fluid">
      </div>
      <div class="col-sm-8">
         <ul class="list-group">
            <li 
			*ngFor="let cerveza of cervezaArray"
			class="list-group-item list-group-item-action"
         (click)="OpenForEdit(cerveza)"
         [class.active]="cerveza == selectedCerveza" 
         >
            <span class="badge rounded-pill bg-warning">{{cerveza.id}}</span>&nbsp;{{cerveza.nombre}} - <span class="text-warning">{{cerveza.marca}}</span>
			   </li>
         </ul>
         <div class="card mt-4">
            <div class="card-body">
               <h5 class="card-title">Gestor de cervezas</h5>
            </div>
            <div class="form-group mx-3" id="formulario">
              <div class="row">
                 <div class="col input-group-sm">
                  <label for="nombre">Nombre</label>
                   <input type="text" class="form-control" placeholder="Nombre de la cerveza" id="nombre" [(ngModel)]="selectedCerveza.nombre">
                 </div>
                 <div class="col input-group-sm">
                  <label for="nombre">Marca</label>
                   <input type="text" class="form-control" placeholder="Marca de la compañía" id="marca" [(ngModel)]="selectedCerveza.marca">
                 </div>
               </div>
               <button (click)="addOrEdit()" class="btn btn-outline-primary my-4">Enviar</button>
               <button 
               *ngIf="selectedCerveza.id !== 0"
               class="btn btn-outline-danger ms-2"
               (click)="delete()"
               >Borrar</button>
            </div> <!-- fin de form-group -->
         </div> <!-- fin de card -->
      </div> <!-- fin de col-sm-8 -->
      <div class="col-sm-2">  
         <img width="220" alt="foto de surtidor de cerveza" src="../assets/img/surtidor.png" class="img-fluid">
      </div>
   </div>
</div>